<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="productDAO" class="net.ukr.ksm.dao.jdbc.JdbcTemplateProductDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="pictureDAO" class="net.ukr.ksm.dao.jdbc.JdbcTemplatePictureDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="productStockDAO" class="net.ukr.ksm.dao.jdbc.JdbcTemplateProductStockDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="productPictureDAO" class="net.ukr.ksm.dao.jdbc.JdbcTemplateProductPictureDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>

</beans>